@import 'definitions.css';
@import 'reset.css';
@import 'map_theme.css';


html, body {
   height: 100%;
   width: 100%;
}


.global_button{
  color: rgb(240, 240, 240);
  background-color: rgba(24, 34, 36, 1);
  vertical-align: middle;
  text-align: center;
  font-family: var(--header_font);
  font-weight: 600;
  position: absolute;
  top: 0r;
  z-index: 3;


  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  cursor: pointer;

}
.global_button:hover{
  opacity: 1
}

.flashpoint_container .flashpoint_map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}


.flashpoint_container .information_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  display: block;
  background-color:  var(--information_container_background);
  color: white;
  transition: width 0.2s;
  transition-timing-function: linear;
  z-index: 10;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  color: rgb(240, 240, 240);

}


.flashpoint_container .information_container .information_body{
  font-family: var(--general_font);
  min-width: 426px;
  max-width: 1080px;

  margin: 0 auto;
  box-sizing: content-box;

}

.flashpoint_container .information_container .information_body .title{
  font-size: 4rem;
  line-height: 3.8rem;
  text-align: left;
  width: 100%;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
  font-weight: 700;
  text-transform: uppercase;

}

.flashpoint_container .information_container .information_body .belligerents_title{
  font-size: 3rem;
  line-height: 3rem;
  text-align: left;
  width: 100%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.flashpoint_container .information_container .information_body .belligerents{
  line-height: 1.5rem;
  font-size: 1.5rem;
  text-indent: 0.1em;
  font-weight: 600;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.flashpoint_container .information_container .information_body .belligerents ol{
  list-style: none;
}

.flashpoint_container .information_container .information_body .belligerents li{
  background-color: rgba(24, 34, 36, 1);
  padding: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}


.flashpoint_container .information_container .information_body .situation_summary_title{
  font-size: 3rem;
  line-height: 3rem;
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-transform: uppercase;
  font-weight: 600;

}


.flashpoint_container .information_container .information_body .situation_summary{

  text-align: justify;
  line-height: 2.4rem;
  font-size: 1.9rem;
  font-weight: 400;
}

.flashpoint_container .information_container .information_body .situation_reports_title{
  font-size: 3rem;
  line-height: 3rem;
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-transform: uppercase;
  font-weight: 600;
}


.flashpoint_container .information_container .information_body .situation_reports{

  text-align: justify;
  line-height: 2.4rem;
  font-size: 1.9rem;
  font-weight: 400;

}

.flashpoint_container .information_container .information_body p{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}


.flashpoint_container .information_container .information_body article{
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 1.2rem 0;
  padding: 1.2rem;
  background: rgba(24, 34, 36, 1);
  color: rgb(240, 240, 240);
  word-wrap: break-word;
}

.flashpoint_container .information_container .information_body b{
  font-weight: 700;
}


.flashpoint_container .information_container .information_body .belligerents{
  line-height: 1.5rem;
  font-size: 1.5rem;
  text-indent: 0.1em;
  font-weight: 600;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

}

.flashpoint_container .information_container .information_body .sources_title{
  font-size: 2rem;
  line-height: 2rem;
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-transform: uppercase;
  font-weight: 600;
}

.flashpoint_container .information_container .information_body .sources ol{
  list-style: decimal;

}

.flashpoint_container .information_container .information_body .sources li{
  background-color: rgba(24, 34, 36, 1);

  padding: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  font-weight: 400;
  width: 98%;
}

.box {
  float: left;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flashpoint_container .information_container .top_bar{
  min-width: 426px;
  max-width: 1080px;
  margin: 0 auto;
  position: sticky;
  top:0;

}


.flashpoint_container .information_container .close_button{
  width: 12%;
  font-size: 4.5rem;
  height: 7rem;
  line-height: 7rem;
  font-family: var(--general_font);

  text-align: center;
  cursor: pointer;
  background-color: rgba(54, 57, 63, 1);
  text-transform: uppercase;
  font-weight: 700;
}

.flashpoint_container .information_container .close_button:hover{
  color: rgb(255, 255, 63);
}

.flashpoint_container .information_container .severity_scale_status{

  width: 44%;
  font-size: 3rem;
  height: 7rem;
  line-height: 7rem;
  font-family: var(--general_font);


  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.flashpoint_container .information_container .conflict_type{
  width: 44%;
  font-size: 3rem;
  height: 7rem;
  line-height: 7rem;
  font-family: var(--general_font);
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;


  background-color: rgba(24, 34, 36, 1);

}
