@import 'definitions.css';
@import 'reset.css';
@import 'map_theme.css';

html, body {
   height: 100%;
   width: 100%;
}

.global_button{
  color: rgb(240, 240, 240);
  background-color: rgba(24, 34, 36, 1);
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 0;
  z-index: 3;
  font-size: 2.5em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  cursor: pointer;
}
.global_button:hover{
  opacity: 1
}

.flashpoint_container .flashpoint_map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}


.flashpoint_container .information_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  display: block;
  background-color:  var(--information_container_background);
  color: white;
  transition: width 0.2s;
  transition-timing-function: linear;
  z-index: 10;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  color: rgb(240, 240, 240);
}


.flashpoint_container .information_container .information_body{
  font-family: var(--general_font);
  min-width: 428px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.8em;
}

.flashpoint_container .information_container .information_body .title{
  font-size: 4em;
  line-height: 1em;
  text-align: left;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8em 0;
}

.flashpoint_container .information_container .information_body .belligerents_title{
  font-size: 3em;
  line-height: 1em;
  text-align: left;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.4em 0;

}

.flashpoint_container .information_container .information_body .belligerents{
  font-size: 1.6em;
  line-height: 1.4em;
  text-indent: 0.1em;
  font-weight: 700;
  padding: 0.4em 0;
}

.flashpoint_container .information_container .information_body .belligerents ol{
  list-style: none;
}

.flashpoint_container .information_container .information_body .belligerents li{
  background-color: rgba(24, 34, 36, 1);
  padding: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}


.flashpoint_container .information_container .information_body .situation_summary_title{
  font-size: 3em;
  line-height: 1em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.4em 0;

}


.flashpoint_container .information_container .information_body .situation_summary{
  text-align: justify;
  font-weight: 400;


}

.flashpoint_container .information_container .information_body .situation_reports_title{
  font-size: 3em;
  line-height: 1em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.4em 0;
}


.flashpoint_container .information_container .information_body .situation_reports{
  text-align: justify;
  font-size: 1em;
  line-height: 2.4em;
  font-weight: 400;
}

.flashpoint_container .information_container .information_body p{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}


.flashpoint_container .information_container .information_body article{
  display: block;
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 1.2em 0;
  padding: 1.2em;
  background: rgba(24, 34, 36, 1);
  color: rgb(240, 240, 240);
  word-wrap: break-word;
}


.flashpoint_container .information_container .information_body article .report_tag{
  display: inline-block;
  font-size: 0.8em;
  line-height: 0.8em;
  padding: 0.8em;
  background-color: rgba(54, 57, 63, 1);
  color: rgb(240, 240, 240);
  word-wrap: break-word;
  font-weight: 600;
  margin-right: 1em;
}

.flashpoint_container .information_container .information_body b{
  font-weight: 700;
}

.flashpoint_container .information_container .information_body .sources_title{
  font-size: 2em;
  line-height: 2em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.4em 0;
}

.flashpoint_container .information_container .information_body .sources ol{
  list-style: none;


}

.flashpoint_container .information_container .information_body .sources li{
  background-color: rgba(24, 34, 36, 1);
  padding: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  font-weight: 400;
}

.box {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



@media only screen and (max-width: 1080px) {

  .flashpoint_container .information_container .close_button{
    width: 12%;
    font-size: 1.6em;
    height: 2.4em;
    line-height: 2.4em;
    font-family: var(--general_font);
    text-align: center;
    cursor: pointer;
    background-color: rgba(54, 57, 63, 1);
    text-transform: uppercase;
    font-weight: 700;
  }

  .flashpoint_container .information_container .close_button:hover{
    color: rgb(255, 255, 63);
  }

  .flashpoint_container .information_container .severity_scale_status{
    width: 44%;
    font-size: 1.6em;
    height: 2.4em;
    line-height: 2.4em;
    font-family: var(--general_font);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .flashpoint_container .information_container .conflict_type{
    width: 44%;
    font-size: 1.6em;
    height: 2.4em;
    line-height: 2.4em;
    font-family: var(--general_font);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(24, 34, 36, 1);
  }

}

@media only screen and (min-width: 1081px) {
  .flashpoint_container .information_container .close_button{
    width: 12%;
    font-size: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    font-family: var(--general_font);
    text-align: center;
    cursor: pointer;
    background-color: rgba(54, 57, 63, 1);
    text-transform: uppercase;
    font-weight: 700;
  }

  .flashpoint_container .information_container .close_button:hover{
    color: rgb(255, 255, 63);
  }

  .flashpoint_container .information_container .severity_scale_status{
    width: 44%;
    font-size: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    font-family: var(--general_font);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .flashpoint_container .information_container .conflict_type{
    width: 44%;
    font-size: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    font-family: var(--general_font);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(24, 34, 36, 1);
  }

}

.flashpoint_container .information_container .top_bar{
  min-width: 428px;
  max-width: 1080px;
  margin: 0 auto;
}
