@import 'definitions.css';
@import 'reset.css';
@import 'map_theme.css';


html, body {
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.flashpoint_container .flashpoint_map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.flashpoint_container .flashpoint_information{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: block;
  background-color: #3F4B57;
  color: white;
  transition: height 0.2s;
  transition-timing-function: linear;
  z-index: 10;
}

.flashpoint_container .flashpoint_information div{
  min-width: 926px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1em;
}
